@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tallon Street<br />
    Caboolture, QLD 4510<br />
    <abbr title="Phone">P:</abbr>
    1300 308 233
</address>

<address>
    <strong>Support:</strong>   <a href="https://tafeqld.edu.au/home.html?">Support@YourProject.com</a><br />
    <strong>Marketing:</strong> <a href="https://tafeqld.edu.au/home.html?">Marketing@YourProject.com</a>
</address>