
@{
    ViewBag.Title = "CustomersHelp";
}

<h2>Customer Related Help Page</h2>
<h3>Information about Customers</h3>

<div>
    <p>
        Community Workshop provides useful information about customers along with the creation, editing and deleting of customers.
    </p>
    <br />
    <h4>Here's a list of FAQ and Help for Customers.</h4>
</div>

<div id="accordion">
    <!--Creating A Customer-->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I create a customer?
                </button>
            </h4>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>Creating a customer is easy. All you have to do is go to the Customers page, click on Create New.</p>
                <img src="~/Images/Customer/CreateClick.png" alt="Click on Create New image" />
                <br />
                <br />
                <p>Enter the details about the customer and then click Create.</p>
                <img src="~/Images/Customer/CreateView.png" alt="Enter customer details image" />
                <br />
                <br />
                <p>Woohoo! You just created a new customer!</p>
                <img src="~/Images/Customer/CreateResult.png" alt="Newly created customer image" />
            </div>
        </div>
    </div>

    <!--Editing A Customer-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How do I edit a customer?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>Make sure you are on the main Customer page, then click on Edit.</p>
                <img src="~/Images/Customer/EditClick.png" alt="Click on Edit image" />
                <br />
                <br />
                <p>Once you are on the Edit page, make the changes you require, then click on Save.</p>
                <img src="~/Images/Customer/EditView.png" alt="Editing a customer detail image" />
                <br />
                <br />
                <p>Ta-da! And thats how you edit a customer!</p>
                <img src="~/Images/Customer/EditResult.png" alt="Edited customer results image" />
            </div>
        </div>
    </div>

    <!--Customer Details-->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I look at the details of a customer?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p>Make sure to be on the main Tool page, then click on the details option.</p>
                <img src="~/Images/Customer/DetailClick.png" alt="Customer details click image" />
                <br />
                <br />
                <p>On this screen you can view the customer details and also click on Edit to change some details or go back to the list.</p>
                <img src="~/Images/Customer/DetailResult.png" alt="Customer details view image" />
            </div>
        </div>
    </div>

    <!--Delete A Customer-->
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I delete a customer?
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <p>Make sure to be on the main Customer page, then click on the delete option.</p>
                <img src="~/Images/Customer/DeleteClick.png" alt="Customer delete click image" />
                <br />
                <br />
                <p>
                    On this screen you will prompted to delete a customer, clicking on delete will remove the customer from the list. <br />
                    (Warning: Be careful when deleting, you can't get the customer information back once you delete it!)
                </p>
                <img src="~/Images/Customer/DeleteView.png" alt="Customer deletion view image" />
                <br />
                <br />
                <p>You will be brought back to the main customer page and should notice that the deleted customer is no longer there.</p>
                <img src="~/Images/Customer/DeleteResult.png" alt="Customer deletion result image" />
            </div>
        </div>
    </div>

    <!--History Of Customer-->
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How do I look at the history for a customer?
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <p>Make sure to be on the main Customer page, then click on the history option.</p>
                <img src="~/Images/Customer/HistoryClick.png" alt="Customer history click image" />
                <br />
                <br />
                <p>On this screen you will see the history of the selected customer.</p>
                <img src="~/Images/Customer/HistoryView.png" alt="Customer history view image" />
                <br />
                <br />
                <p>You can choose to Export the customer history to a csv file by clicking on the Export button.</p>
                <img src="~/Images/Customer/HistoryExport.png" alt="Export customer history image" />
            </div>
        </div>
    </div>
</div>
