@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>YourProject</h1> <canvas class="rotated" id="myCanvas" width="300" height="200"></canvas>
    <p class="lead">
        Community Workshop is a volunteer run organisation which provides workspaces and tools for the general public to use.
        Anyone that would like to use these workspaces is required to complete a general safety course (facilitated by YourProject).
        Use of heavier machinery may require additional training.
    </p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>
            List of all the tools in Community Workshop with details about each tool.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Tool")">Tools Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            List of all the customers that can hire tools.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Customer")">Customers Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            List of all the rentals for the workshop with options to hire and return tools.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Rentals")">Rentals Page &raquo;</a></p>
    </div>
</div>

<script type="text/javascript">
        window.onload = function () {
            var canvas = document.getElementById("myCanvas");
            var context = canvas.getContext("2d");
            // draw stuff here
            context.moveTo(140, 120);
            context.lineTo(140, 30);
            context.stroke()
            context.moveTo(160, 120);
            context.lineTo(160, 30);
            context.stroke()
            context.moveTo(140, 120);
            context.lineTo(160, 120);
            context.stroke()
            context.moveTo(130, 30);
            context.lineTo(190, 30);
            context.stroke()
            context.moveTo(130, 30);
            context.lineTo(120, 40);
            context.stroke()
            context.moveTo(120, 40);
            context.lineTo(115, 40);
            context.stroke()
            context.moveTo(115, 40);
            context.lineTo(115, 0);
            context.stroke()
            context.moveTo(115, 0);
            context.lineTo(120, 0);
            context.stroke()
            context.moveTo(120, 0);
            context.lineTo(130, 10);
            context.stroke()
            context.moveTo(130, 10);
            context.lineTo(170, 10);
            context.stroke()
            context.moveTo(170, 10);
            context.lineTo(190, 30);
            context.stroke()
        };
</script>